<app-nav-bar></app-nav-bar>
@if (bookmarked.length > 0) {
  <h1>Jouw favorieten</h1>
  <div class="book-card-list">
    <p-carousel [value]="bookmarked" [numVisible]="4" [numScroll]="2">
      <ng-template pTemplate="item" let-book>
        <div class="book-card">
          <b-card [bookCard]="book"></b-card>
          <i
            (click)="toggleBookmarked(book.book_id); $event.stopPropagation()"
            class="bookmark pi"
            [class.pi-bookmark-fill]="true"
          ></i>
        </div>
      </ng-template>
    </p-carousel>
  </div>
} @else if (!loading.isLoading && bookmarked.length === 0) {
  <h1>Je hebt nog geen favorieten</h1>
}

@if (loading.visible) {
  <div class="loading-container">
    <p-progressSpinner />
  </div>
}
