h1 {
  margin: 30px;
}

.book-card-list {
  margin: 50px;
}

.book-card {
  display: flex;
  border-radius: 8px;
  cursor: pointer;
  height: 20rem;
  background: var(--p-neutral-50);
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.book-card i {
  position: absolute;
  right: 3%;
  top: 3%;
  font-size: 1.3rem;
}

.loading-container {
  display: flex;
  justify-content: center;
  padding: 4rem;
}

@media (width > 800px) {
  .book-card-list {
    gap: 5%;
  }

  .book-card {
    padding-top: 25px;
  }

  .book-card i {
    right: 5%;
    top: 5%;
    font-size: 1.3rem;
  }
}
