:host {
  display: block;
  background-color: #f5f5f0;
  background-image: url('https://i.pinimg.com/736x/9f/67/32/9f67321f068bebf87cddc663b12bc904.jpg');
  background-repeat: repeat;
  min-height: 100vh;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  overflow-x: hidden;
}

article {
  display: inline-block;
  padding: 40px;
}

* {
  border-radius: 10px;
}

#book-info {
  display: flex;
  align-items: flex-start;
  gap: 25px;
  border: 1px solid var(--p-menubar-border-color);
  width: 70vw;
  position: relative;
  margin-top: 5vh;
}

#stars p {
  display: inline-block;
  margin-left: 15px;
}

.bookmark {
  position: absolute;
  right: 20px;
  top: 5px;
}

.bookmark:hover {
  cursor: pointer;
}

p-image {
  height: 300px;
}

.no-cover {
  background-color: var(--p-zinc-400);
  aspect-ratio: 3/4;
  color: var(--p-primary-50);
  text-align: center;
  font-size: large;
  font-weight: 900;
  align-content: center;
  height: 200px;
}

.no-cover p {
  transform: rotate(-35deg);
  user-select: none;
}

tr > td:nth-child(1) {
  display: flex;
  align-items: center;
}

tr > td:nth-child(1) img {
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
}

table {
  border-radius: 0;
  border-collapse: collapse;
  width: 100%;
}

table caption {
  caption-side: top;
  text-align: left;
}

th {
  border-radius: 0;
  background-color: var(--p-sky-700);
  color: white;
  padding: 10px;
}

table td {
  text-align: center;
  vertical-align: middle;
}

#book-available {
  border: 1px solid var(--p-menubar-border-color);
  width: 70vw;
}

#book-available table {
  border: 1px solid var(--p-menubar-border-color);
  border-top: none;

  background-color: var(--p-amber-50);
}

#book-detail table tr {
  line-height: 40px;
}

#book-detail table tr td:nth-child(2) {
  text-align: left;
}

#book-detail {
  width: 70vw;
}

.box {
  margin-bottom: 1em;
  padding: 20px;
  background-color: var(--p-slate-50);
  max-width: 1800px;
}

#book-detail table tr td:nth-child(2) {
  color: var(--p-button-text-secondary-color);
}

#related-books-book {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  width: 80%;
  margin-left: 10%;
}

#related-books-book .book-card {
  width: 180px;
  min-height: 220px;
  flex-shrink: 0;
  border: 1px solid var(--p-menubar-border-color);
  text-align: center;
  align-content: center;
}

#related-books img {
  display: block;
  height: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#related-books .book-card * {
  display: inline-block;
  margin: 0 auto;
}

#related-books .book-card p {
  color: var(--p-button-text-secondary-color);
}

#related-books {
  width: 70%;
}
