:host {
  display: block;
  min-height: 100vh;
}

* {
  border-radius: 10px;
}

.show-desktop,
h2.show-desktop {
  display: none;
}

.show-mobile {
  display: inline-block;
}

.detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  width: 100%;
  overflow-x: hidden;
}

#book-info {
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1px solid var(--p-menubar-border-color);
  position: relative;
  margin-top: 5vh;
  flex-flow: column;
}

#stars p {
  display: inline-block;
  margin-left: 15px;
}

.bookmark {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 1.3rem;
}

.bookmark:hover {
  cursor: pointer;
}

.description {
  width: 80vw;
}

p-image {
  height: 300px;
}

tr > td:nth-child(1) img,
#book-available {
  margin-left: 20px;
  margin-right: 20px;
  height: 100px;
}

table {
  border-radius: 0;
  border-collapse: collapse;
  width: 100%;
}

table caption {
  caption-side: top;
  text-align: left;
}

th {
  border-radius: 0;
  background-color: var(--p-sky-700);
  color: white;
  padding: 10px;
}

table td {
  text-align: center;
  vertical-align: middle;
}

#book-available {
  border: 1px solid var(--p-menubar-border-color);
  padding-bottom: 13rem;
}

#book-available table {
  border: 1px solid var(--p-menubar-border-color);
  border-top: none;
  background-color: var(--p-amber-50);
  font-size: small;
}

#book-detail table tr {
  line-height: 40px;
  border-bottom: 1px solid var(--p-slate-100);
}

#book-detail table tr td:nth-child(1) {
  text-align: left;
}

#book-detail table tr td:nth-child(2) {
  text-align: left;
  width: 60%;
  color: var(--p-button-text-secondary-color);
  border-left: 1px solid var(--p-slate-100);
  padding-left: 10px;
}

.box {
  margin-bottom: 1em;
  padding: 20px;
  width: 95vw;
}

#related-books-book {
  width: 80%;
  margin-left: 10%;
}

@media (width>800px) {
  .show-desktop {
    display: inline-block;
  }

  .show-mobile,
  h2.show-mobile {
    display: none;
  }

  h2.show-desktop {
    display: block;
  }

  #book-info {
    flex-flow: row;
    gap: 25px;
  }

  #book-available table {
    font-size: medium;
  }

  .box {
    max-width: 1800px;
    width: 70vw;
  }

  #book-info {
    align-items: flex-start;
  }

  #book-detail table tr td:nth-child(2) {
    border-left: none;
    padding-left: 0px;
  }
}
