<p-toast></p-toast>

<section class="spotlight-section">
  <div class="section-tabs">
    <button
      class="tab"
      *ngFor="let section of sections"
      [class.active]="activeSection?.id === section.id"
      (click)="selectSection(section)">
      {{ section.title }}
    </button>
  </div>

  <div class="books-grid" *ngIf="activeSection && books.length > 1">
    <div class="book-card" *ngFor="let book of books" [routerLink]="['/boek', book.id]">
      <div class="book-cover">
        <img *ngIf="book.cover" src="static/cover/{{book.cover}}" [alt]="book.title" class="cover-img" (error)="book.cover = ''" />
        <span class="book-initial" *ngIf="!book.cover">{{ book.title.charAt(0) }}</span>
      </div>
      <div class="book-info">
        <h3 class="book-title">{{ book.title }}</h3>
        <p class="book-author" *ngIf="book.author">{{ book.author.name }}</p>
      </div>
    </div>
  </div>

  <div class="monthly-book" *ngIf="activeSection && books.length === 1" [routerLink]="['/boek', books[0].id]" style="cursor: pointer;">
    <div class="monthly-cover">
      <img *ngIf="books[0].cover" src="/static/cover/{{books[0].cover}}" [alt]="books[0].title" class="cover-img" (error)="books[0].cover = ''" />
      <span class="book-initial" *ngIf="!books[0].cover">{{ books[0].title.charAt(0) }}</span>
    </div>
    <div class="monthly-info">
      <p><strong>Titel:</strong> {{ books[0].title }}</p>
      <p *ngIf="books[0].author"><strong>Auteur:</strong> {{ books[0].author.name }}</p>
      <p *ngIf="books[0].description"><strong>Beschrijving:</strong> {{ books[0].description }}</p>
      <p *ngIf="books[0].genres && books[0].genres.length > 0"><strong>Genre:</strong> {{ books[0].genres[0].name }}</p>
      <p *ngIf="books[0].pages"><strong>Pagina's:</strong> {{ books[0].pages }}</p>
    </div>
  </div>

  <div class="empty-msg" *ngIf="books.length === 0">
    Geen boeken gevonden.
  </div>
</section>