.book-card {
  width: 180px;
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  text-align: center;
}

.book-cover {
  width: 100%;
  aspect-ratio: 2 / 3;
}

p {
  margin: 0;
}

.title {
  margin-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.author {
  font-size: 14px;
  margin-top: 6px;
  color: var(--p-text-muted-color);
}

.large.book-card {
  width: 240px;
}

.small.book-card {
  width: 80px;
}
