<div class="filecard">
  <div class="parent">
    <div class="file-icon">
      <i class="pi pi-{{ icon }}"></i>
    </div>
    <div class="file-meta">
      <p class="filename">{{ material.file_name }}</p>
      <p class="ext">{{ getExtension(material.file_name).toUpperCase() }}</p>
    </div>
  </div>

  <div class="details">
    <div class="row">
      <span>Geüpload</span>
      <span>{{ formatDate(material.uploaded) }}</span>
    </div>
    <div class="row">
      <span>Grootte</span>
      <span>{{ formatSize(material.size) }}</span>
    </div>
  </div>
  <div class="row btn">
    <a href="/static/file/{{ material.file_id }}/{{ material.file_name }}" download>
      <p-button icon="pi pi-download" label="Downloaden" severity="info" [outlined]="true" />
    </a>
  </div>
</div>
