<app-nav-bar></app-nav-bar>
<div class="school-list">
  @for (school of schools; track school.id) {
    <div>
      <h2>{{ school.name }}</h2>
      <h3>Locaties in deze school:</h3>
      @for (location of school.locations; track location.id) {
        <p>- {{ location.name }}</p>
      }
      <p-button [routerLink]="['/locatie/toevoegen', school.id]">Locatie toevoegen</p-button>
    </div>
  }

  <div class="nav-buttons">
    @if (authService.hasRole('ADMIN')) {
      <p-button routerLink="/school/toevoegen">School toevoegen</p-button>
    }
    <p-button routerLink="/locatie">Locaties detail pagina</p-button>
  </div>
</div>
