.author-name, .author-desc {
  display: flex;
  margin-bottom: 1rem;
}

.btns {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.container {
  width: 90vw;
  max-width: 80rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 60px;
}

.inputrow {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 1rem;
  align-items: flex-start;
}

.field-isbn, .field-author {
  flex: 1;
}

.field-publisher {
  flex: 3;
  min-width: 0;
}

.field-clib {
  flex: 1;
  min-width: 120px;
}

.inputrow .p-select, .inputrow .input {
  width: 100%;
  height: 54px;
}

.field-clib .p-select-label, .field-publisher .p-select-label {
  display: flex;
  align-items: center;
  height: 100%;
}

.inputitem {
  margin-bottom: 1rem;
}

.dropdowns {
  display: flex;
  gap: 1rem;
}

.select {
  flex-grow: 1;
}

.language {
  width: 100%;
}

.subtext {
  color: var(--p-button-text-secondary-color);
  font-size: 0.85rem;
}

.radioBtns {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.radioBtns label {
  margin-left: -0.5rem;
}

.field-clib .p-select .p-select-label,
.field-clib .p-select .p-placeholder {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1rem;
  height: 100%;
}

.field-clib .p-select {
  display: flex;
  align-items: center;
}
@media (max-width: 600px) {
  .inputrow, .dropdowns {
    flex-direction: column;
    gap: 1rem;
  }
  .field-clib, .field-publisher, .field-isbn, .field-author {
    width: 100%;
    max-width: none;
  }
}