<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="bookform">
    <div class="card">
      <p-stepper [value]="1" class="basis-[50rem]" [linear]="true">
        <form [formGroup]="bookForm">
          <p-step-item [value]="1">
            <p-step>Basisinfo:</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="inputitem">
                  <p-iftalabel>
                    <label for="isbn">ISBN (optioneel)</label>
                    <input id="isbn" type="text" class="input" pInputText formControlName="isbn" />
                  </p-iftalabel>
                  @if (bookForm.controls.isbn.invalid && bookForm.controls.isbn.touched) {
                    <small class="p-error">
                      <p-message severity="error" size="small" variant="simple"
                        >ISBN is ongeldig!</p-message
                      >
                    </small>
                  }
                </div>
                <div class="inputitem">
                  <p-iftalabel>
                    <label for="title">Titel*</label>
                    <input
                      id="title"
                      fluid
                      type="text"
                      class="input"
                      autofocus
                      pInputText
                      formControlName="title"
                    />
                  </p-iftalabel>
                  @if (bookForm.controls.title.invalid && bookForm.controls.title.touched) {
                    <small class="p-error">
                      <p-message severity="error" size="small" variant="simple"
                        >Titel is verplicht!</p-message
                      >
                    </small>
                  }
                </div>
                <div class="inputitem">
                  <p-iftalabel>
                    <label for="description">Beschrijving*</label>
                    <textarea
                      id="description"
                      formControlName="description"
                      pTextarea
                      rows="8"
                      fluid
                      maxlength="500"
                    ></textarea>
                  </p-iftalabel>
                  @if (
                    bookForm.controls.description.invalid && bookForm.controls.description.touched
                  ) {
                    <small class="p-error">
                      <p-message severity="error" size="small" variant="simple"
                        >Beschrijving is verplicht!</p-message
                      >
                    </small>
                  }
                  <app-char-counter
                    [text]="bookForm.get('description')?.value ?? ''"
                    [maxLength]="500"
                  ></app-char-counter>
                </div>
                <div class="inputitem">
                  <p>Didactisch materiaal?*</p>
                  <div class="radioBtns">
                    <p-radiobutton
                      id="didactic_material_no"
                      [value]="true"
                      name="didactic_material"
                      formControlName="didactic_material"
                    />
                    <label for="didactic_material_no">Nee</label>
                    <p-radiobutton
                      id="didactic_material_yes"
                      [value]="false"
                      name="didactic_material"
                      formControlName="didactic_material"
                    />
                    <label for="didactic_material_yes">Ja</label>
                  </div>
                </div>
                <div class="btns">
                  <p-button
                    label="Volgende"
                    [disabled]="
                      bookForm.controls.title.invalid || bookForm.controls.description.invalid
                    "
                    (onClick)="activateCallback(2)"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
          <p-step-item [value]="2">
            <p-step>Extra info:</p-step>
            <p-step-panel>
              <ng-template #content let-activateCallback="activateCallback">
                <div class="inputitem dropdowns">
                  <p-select
                    [options]="authors"
                    [filter]="true"
                    filterBy="name"
                    optionLabel="name"
                    optionValue="id"
                    formControlName="author"
                    placeholder="Auteur*"
                    class="select"
                    [showClear]="true"
                    id="author"
                  >
                    <ng-template #footer>
                      <div class="p-3">
                        <p-button
                          label="Nieuwe auteur"
                          fluid
                          severity="secondary"
                          text
                          size="small"
                          icon="pi pi-plus"
                          (click)="authorFormVisible = true"
                        />
                      </div>
                    </ng-template>
                  </p-select>
                  <p-select
                    [options]="publishers"
                    [filter]="true"
                    filterBy="name"
                    optionLabel="name"
                    optionValue="id"
                    formControlName="publisher"
                    placeholder="Uitgever (optioneel)"
                    class="select"
                    [showClear]="true"
                  >
                    <ng-template #footer>
                      <div class="p-3">
                        <p-button
                          label="Nieuwe uitgever"
                          fluid
                          severity="secondary"
                          text
                          size="small"
                          icon="pi pi-plus"
                          (click)="publisherFormVisible = true"
                        />
                      </div>
                    </ng-template>
                  </p-select>
                </div>
                <div class="inputitem">
                  <div>Kies er één*:</div>
                  <br />
                  <div class="radioBtns">
                    <p-radiobutton
                      id="fiction"
                      [value]="true"
                      name="fiction"
                      formControlName="fiction"
                    />
                    <label for="fiction"> Fictie</label>
                    <p-radiobutton
                      id="non-fiction"
                      [value]="false"
                      name="fiction"
                      formControlName="fiction"
                    />
                    <label for="non-fiction"> Non-fictie</label>
                  </div>
                </div>
                <div class="inputitem dropdowns">
                  <p-select
                    [options]="bookTypes"
                    [filter]="true"
                    filterBy="name"
                    optionLabel="name"
                    optionValue="id"
                    formControlName="book_type"
                    placeholder="Boektype*"
                    class="select"
                  />
                  <p-multiselect
                    display="chip"
                    [options]="genres"
                    formControlName="genres"
                    placeholder="Genre(s)*"
                    [selectionLimit]="5"
                    optionLabel="name"
                    optionValue="id"
                    showToggleAll="false"
                    [showClear]="true"
                    class="select"
                  />
                </div>
                <div class="inputitem">
                  <p-iftalabel>
                    <p-inputNumber formControlName="published" [showButtons]="true" [min]="1" [useGrouping]="false" />
                    <label for="published">Jaar van uitgave</label>
                  </p-iftalabel>
                  @if (bookForm.controls.published.invalid && bookForm.controls.published.touched) {
                    <small class="p-error">
                      <p-message severity="error" size="small" variant="simple"
                        >Jaartal is niet geldig!</p-message
                      >
                    </small>
                  }
                </div>

                <div class="inputitem">
                  <p-select
                    [options]="languages"
                    formControlName="language"
                    optionValue="id"
                    optionLabel="name"
                    placeholder="Taal*"
                    class="language"
                  />
                  @if (bookForm.controls.language.invalid && bookForm.controls.language.touched) {
                    <small class="p-error">
                      <p-message severity="error" size="small" variant="simple"
                        >Taal is verplicht!</p-message
                      >
                    </small>
                  }
                </div>
                <div class="inputitem">
                  <p-select
                    [options]="cLIBS"
                    formControlName="cLIB"
                    id="cLIB"
                    class="select"
                    placeholder="CLIB*"
                  />
                </div>
                <div class="inputitem">
                  <p-iftalabel>
                    <p-inputNumber
                      id="pages"
                      formControlName="pages"
                      [showButtons]="true"
                      [min]="1"
                      [useGrouping]="false"
                    />
                    <label for="pages">Aantal pagina's</label>
                  </p-iftalabel>
                  @if (bookForm.controls.pages.invalid && bookForm.controls.pages.touched) {
                    <small class="p-error">
                      <p-message severity="error" size="small" variant="simple"
                        >Aantal is niet geldig!</p-message
                      >
                    </small>
                  }
                </div>
                <div class="inputitem">
                  <p-select
                    [options]="font_sizes"
                    formControlName="font_size"
                    optionValue="value"
                    optionLabel="name"
                    placeholder="Lettergrote (optioneel)"
                    [showClear]="true"
                  />
                </div>
                <div class="inputitem">
                  <p>
                    Enkel zichtbaar voor deze school?*<br /><span class="subtext"
                      >(dit verbergt het boek voor andere scholen)</span
                    >
                  </p>
                  <div class="radioBtns">
                    <p-radiobutton
                      id="school-no"
                      [value]="false"
                      name="school"
                      formControlName="school"
                    />
                    <label for="school-no">Nee</label>
                    <p-radiobutton
                      id="school-yes"
                      [value]="true"
                      name="school"
                      formControlName="school"
                    />
                    <label for="school-yes">Ja</label>
                  </div>
                </div>
                <div class="btns">
                  <p-button label="Terug" severity="secondary" (onClick)="activateCallback(1)" />
                  <p-button
                    [disabled]="bookForm.invalid"
                    class="btn"
                    label="Volgende"
                    severity="primary"
                    (click)="addBook(activateCallback)"
                  />
                </div>
              </ng-template>
            </p-step-panel>
          </p-step-item>
        </form>
        <p-step-item [value]="3">
          <p-step>Boekomslag: </p-step>
          <p-step-panel>
            <ng-template #content let-activateCallback="activateCallback">
              <p-fileupload
                #fileuploader
                mode="basic"
                name="file"
                chooseIcon="pi pi-upload"
                accept="image/*"
                maxFileSize="8000000"
                (onSelect)="coverUpload($event, fileuploader)"
                [customUpload]="true"
                [disabled]="coverDisabled"
              />
            </ng-template>
          </p-step-panel>
        </p-step-item>
      </p-stepper>
    </div>
  </div>
  <div>
    <form [formGroup]="authorForm">
      <div>
        <p-dialog
          header="Nieuwe auteur"
          [modal]="true"
          [(visible)]="authorFormVisible"
          [style]="{ width: '30rem' }"
          resizable="false"
        >
          <div>
            <p-iftalabel>
              <label for="author-name">Naam*</label>
              <input
                pInputText
                id="author-name"
                formControlName="name"
                autocomplete="off"
                class="author-name"
                fluid
              />
            </p-iftalabel>
            @if (authorForm.controls.name.invalid && authorForm.controls.name.touched) {
              <small class="p-error">
                <p-message severity="error" size="small" variant="simple"
                  >Naam is verplicht!</p-message
                >
              </small>
            }
          </div>
          <div>
            <p-iftalabel>
              <label for="description">Beschrijving (optioneel)</label>
              <textarea
                rows="5"
                cols="40"
                formControlName="description"
                class="author-description"
                fluid
                style="resize: vertical"
                pTextarea
              ></textarea>
            </p-iftalabel>
          </div>
          <div class="btns">
            <p-button
              class="btn"
              label="Annuleer"
              severity="secondary"
              (click)="authorFormVisible = false"
            />
            <p-button
              class="btn"
              label="Opslaan"
              [disabled]="authorForm.invalid"
              (click)="addAuthor()"
            />
          </div>
        </p-dialog>
      </div>
    </form>
  </div>
  <div>
    <form [formGroup]="publisherForm">
      <div>
        <p-dialog
          header="Nieuwe uitgever"
          [modal]="true"
          [(visible)]="publisherFormVisible"
          [style]="{ width: '30rem' }"
          resizable="false"
        >
          <div>
            <p-iftalabel>
              <label for="pub-name">Naam*</label>
              <input
                pInputText
                id="pub-name"
                autocomplete="off"
                formControlName="name"
                class="author-name"
                fluid
              />
            </p-iftalabel>
          </div>
          <div>
            <p-iftalabel>
              <label for="description">Beschrijving (optioneel)</label>
              <textarea
                rows="5"
                cols="40"
                class="author-desc"
                formControlName="description"
                fluid
                pTextarea
                maxlength="255"
                style="resize: vertical"
              ></textarea>
            </p-iftalabel>
          </div>
          <div class="btns">
            <p-button
              class="btn"
              label="Annuleer"
              severity="secondary"
              (click)="publisherFormVisible = false"
            />
            <p-button class="btn" label="Opslaan" (click)="addPublisher()" />
          </div>
        </p-dialog>
      </div>
    </form>
  </div>
</div>
